<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>picture of the future</title>
</head>
<body topmargin="0" bottommargin="0" leftmargin="0" rightmargin="0" style="background-color:#F6F6F6">
    <div class="menu">
        <nav class="clearfix">
            <ul class="clearfix">
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Use</a></li>
                <li><a href="">Contact</a></li>
            </ul>
            <a id="pull" href="#"></a>
        </nav>

    </div>
</body>
</html>